@import "../../global.scss";


.menu{
    width: 300px;
    height: 100vh;
    background-color: $activeColor;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;

    &.active{
        right: 0;
    }

    ul{
       
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 400;
        width: 70%;
        
        li{
            margin-bottom: 35px;
            a{
                font-size: 30px;
                color: white;
                text-decoration: none;
                
            }

            &:hover{
                font-weight: 600;
            }
        }
    }
}